{% extends 'base.html.twig' %}

{% block body %}

<div class="container m-5">
    <h3 class="mt-5 mb-5 text-center"> Creer un ingredient</h3>

    <div class="row">
        {% for message in app.flashes('sucess') %}
            <div class="alert alert-success">
            {{message}}
            </div>
        {% endfor %}
        <div class="col-md-6 offset-md-3">
            {{form_start(form)}}
            <div class="form-group">
                {{form_label(form.name)}}
                {{form_widget(form.name ,{'attr':{'class':'form-control'}})}}
            </div> 
            <div class="form-group">
                {{form_row(form.image)}}
                {{form_row(form.type)}}
            </div> 
   
            <div class="form-group">
                <button class="btn btn-info mt-2 text-white">Submit</button>
            </div>   
            {{form_end(form)}}
        </div>
    </div>

    <div class="form-group">
                <a href="{{path('ingredientForm')}}" class="btn btn-info mt-2 text-white">Acceder au tableau des ingredients </a>
    </div>
    
</div>
{% endblock %}
