{% extends 'base.html.twig' %}


{% block body %}
    <h1> Tableau des ingredients</h1>
        <table class="table">
            <thead>
                <tr>
                <th scope="col">#</th>
                <th scope="col">Nom de l'ingredient</th>
                <th scope="col">image</th>
                <th scope="col">Type</th>
                <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
            {% for data in data  %}
                <tr>
                <th scope="row"> {{data.id}}</th>
                <td>{{data.name}}</td>
                <th scope="row"> {{data.image.name}}</th>
                <th scope="row"> {{data.type}}</th>

                <td>
                   <a href="{{ path('update' , {'id': data.id }) }}" class="btn btn-warning">Modifier</a>
                   <a href="{{path('delete' , {'id': data.id }) }}" class="btn btn-danger">Supprimer</a>
                </td>
                </tr>
                <tr>
            {% endfor %}

             <div class="form-group">
                <a href="{{path('createIngredient')}}" class="btn btn-info mt-2 text-white">Ajouter un ingredient</a>
            </div>
             <div class="form-group">
                <a href="{{path('ingredient')}}" class="btn btn-info mt-2 text-white">Afficher les ingredients </a>
            </div>
  
            </tbody>
        </table>
</div>

{% endblock %}

